.idea/
docker/data/*
djTaskLine/dj_app/db.sqlite3
.ipynb_checkpoints/
*.ipynb
djTaskLine/collect/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
####
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Front End Ignores

# compiled output
djTaskLine/ng_client_app/dist
djTaskLine/ng_client_app/tmp

# dependencies
djTaskLine/ng_client_app/node_modules
djTaskLine/ng_client_app/bower_components

# IDEs and editors
djTaskLine/ng_client_app/.idea
djTaskLine/ng_client_app/.vscode
djTaskLine/ng_client_app/.project
djTaskLine/ng_client_app/.classpath
djTaskLine/ng_client_app/*.launch
djTaskLine/ng_client_app/.settings/

# misc
djTaskLine/ng_client_app/.sass-cache
djTaskLine/ng_client_app/connect.lock
djTaskLine/ng_client_app/coverage/*
djTaskLine/ng_client_app/libpeerconnection.log
djTaskLine/ng_client_app/npm-debug.log
djTaskLine/ng_client_app/testem.log
djTaskLine/ng_client_app/typings

# e2e
djTaskLine/ng_client_app/e2e/*.js
djTaskLine/ng_client_app/e2e/*.map

#System Files
djTaskLine/ng_client_app/.DS_Store
djTaskLine/ng_client_app/Thumbs.db
