.idea/
docker/data/*
djTaskLine/dj_app/db.sqlite3
.ipynb_checkpoints/
*.ipynb
djTaskLine/dj_app/collect/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
####
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Front End Ignores

# compiled output
ngTaskLine/dist
ngTaskLine/tmp

# dependencies
ngTaskLine/node_modules
ngTaskLine/bower_components

# IDEs and editors
ngTaskLine/.idea
ngTaskLine/.vscode
ngTaskLine/.project
ngTaskLine/.classpath
ngTaskLine/*.launch
ngTaskLine/.settings/

# misc
ngTaskLine/.sass-cache
ngTaskLine/connect.lock
ngTaskLine/coverage/*
ngTaskLine/libpeerconnection.log
ngTaskLine/npm-debug.log
ngTaskLine/testem.log
ngTaskLine/typings

# e2e
ngTaskLine/e2e/*.js
ngTaskLine/e2e/*.map

#System Files
ngTaskLine/.DS_Store
ngTaskLine/Thumbs.db
