
Django

### PostgresSQL driver
psycopg2>=2.5.4

### MySQL driver
# mysqlclient

### Application server https://uwsgi-docs.readthedocs.io/en/latest/
uwsgi

### logging https://opbeat.com/
opbeat

### Auth
django-allauth

# dev -- must be removed for prod

django_extensions
django-debug-toolbar
jupyter
