<h2 class="text-center">Task Overview</h2>
<div class="request-loader" *ngIf="pivotalService.pendingRequest || !authService.userIsAuth">
    <app-kottans-logo svgwidth="350px" svgheight="300px" color="#ffffff" animated="cheering"></app-kottans-logo>
    <h3 class="text-center">{{ !authService.userIsAuth && !pivotalService.pendingRequest ? 'Please login or signup . . .' : 'Loading . . .' }}</h3>
</div>
<table class="table table-striped table-bordered" *ngIf="!pivotalService.pendingRequest && authService.userIsAuth">
    <thead>
        <tr>
            <th>ID</th>
            <th class="hidden-sm hidden-xs">Name</th>
            <th class="hidden-sm hidden-xs">Requester</th>
            <th class="hidden-sm hidden-xs">Main Owner</th>
            <th class="hidden-sm hidden-xs">Type</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let story of stories">
            <td><a [routerLink]="['/story', story.id ]" class="story-link">#{{story.id}}</a></td>
            <td class="name" class="hidden-sm hidden-xs"><a [routerLink]="['/story', story.id ]" class="story-link">{{story.name}}</a></td>
            <td [title]="story.requester.person.name" [style.color]="'#' + story.requester.project_color" class="hidden-sm hidden-xs">{{story.requester.person.initials}}</td>
            <td
                class="hidden-sm hidden-xs"
                [title]="story.owner ? story.owner.person.name : 'No owners for this story yet'"
                [style.color]="story.owner ? '#' + story.owner.project_color : '#ffffff'"
            >{{story.owner ? story.owner.person.initials : 'Noone'}}</td>
            <td class="hidden-sm hidden-xs">{{story.story_type}}</td>
            <td class="text-center">{{story.timestamp ? formatDate(story.timestamp) : ''}}
                <button
                    *ngIf="!story.timestamp && story.user_own_story"
                    class="btn btn-success btn-xs"
                    (click)="setTimeStamp(story)">Stamp
                </button>
            </td>
        </tr>
    </tbody>
</table>

